table{
	font-size:16px;
	border-collapse:collapse;
	border: 1px solid black;
}
th{
	border: 1px solid black;
}
.centaer th, td {
  	padding: 10px;
	background-color: #FDDF95;
	border:solid 1px black;
}
